<form class="form-add" method="post" action="/add" autocomplete="off">
  <div class="record-row">
    <input type="text" name="fullName" placeholder="Прозвішча, імя, імя па бацьку" required />
    <input type="tel" name="phoneNumber" placeholder="Тэлефон" required />
  </div>
  <div class="buttons-row">
    <button class="button-btn" type="submit">Дадаць</button>
    {{{cancelButton}}}
  </div>
</form>