<form class="form-add" method="post" action="/add" autocomplete="off">
    <div class="record-row">
        <input type="text" name="fullName" placeholder="Фамилия, имя, отчество" required/>
        <input type="tel" name="phoneNumber" placeholder="Телефон" required/>
    </div>
    <div class="buttons-row">
        <button class="button-btn" type="submit">Добавить</button>
        {{{cancelButton}}}
    </div>
</form>